<div class="container__big-card">
  <div class="big-card__photo">
    <img 
      src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/3421528F5E3679CEA7D89FE51BE6DE6904289364AD148688A2E236A340144BF6/scale?width=1200&aspectRatio=1.78&format=webp" 
      alt=""
      height="250px"
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate excepturi assumenda dicta fuga tenetur minima, voluptatem ab tempore repellat est mollitia dolores harum accusantium. Consequatur maxime excepturi autem delectus nisi.
      </a>
    </p>
  </div>
</div>